@font-face {
  font-family: "shrikhandregular";
  src: url("../font/shrikhand-regular-webfont.woff2") format("woff2"), url("../font/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../font/roboto-regular-webfont.woff2") format("woff2"), url("../font/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotoregular";
}

.btn-fonction {
  width: 88%;
  height: 67px;
  background-color: rgb(244, 244, 244);
  color: black;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.2);
  transition: 0.3s ease-in-out;
  font-size: 13px;
  border-radius: 1.2rem;
  cursor: pointer;
  margin-top: 25px;
  position: relative;
  transition: background-color 300ms ease-in-out;
}
.btn-fonction .icons-fonction {
  position: absolute;
  left: 14%;
  color: grey;
  font-size: 15px;
}
.btn-fonction span {
  font-weight: 600;
}
.btn-fonction .icons-number {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: -4%;
  border-radius: 10px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 300ms ease-in-out;
}
.btn-fonction:hover {
  background-color: #f2eafb;
  box-shadow: 0 8px 16px 0 rgba(41, 41, 41, 0.2);
}
.btn-fonction:hover .icons-fonction {
  color: #9356DC;
}

.btn-rose {
  width: 60%;
  height: 50px;
  background-color: #9356DC;
  color: white;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.2);
  transition: 0.3s ease-in-out;
  font-size: 13px;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 35px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  transition: background-image 300ms ease-in;
}
.btn-rose:hover {
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  box-shadow: 0 8px 16px 0 rgba(41, 41, 41, 0.2);
}

.menu_btn {
  width: 92%;
  height: 67px;
  background-color: white;
  color: black;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.2);
  transition: 0.3s ease-in-out;
  font-size: 13px;
  border-radius: 1.2rem;
  cursor: pointer;
  margin: 4%;
  margin-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
.menu_btn a {
  text-decoration: none;
  color: black;
  text-align: left;
}
.menu_btn .ellipsis_h3 {
  display: block;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_btn_title {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 7px;
  font-weight: bold;
}
.menu_btn_p {
  font-size: 13px;
  display: flex;
  position: relative;
  margin-left: 10px;
  text-align: left;
}
.menu_btn_p .euros {
  font-weight: bold;
  position: absolute;
  right: 6%;
  transition: transform 500ms;
  transform: translatex(0);
}
.menu_btn_p .ellipsis_p {
  display: block;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_btn_box {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 67px;
  background-color: #99E2D0;
  border-radius: 0 1.2rem 1.2rem 0;
  transition: transform 500ms;
  transform-origin: 100% 50%;
  transform: scalex(0);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_btn_box .check {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  color: #99E2D0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms;
  transform: rotate(0);
}
.menu_btn a:active > .menu_btn_box {
  transform: scalex(1);
  opacity: 1;
}
.menu_btn a:active > .menu_btn_box .check {
  transform: rotate(360deg);
}
.menu_btn a:active > .menu_btn_p .euros {
  transform: translateX(-55px);
}
.menu_btn a:active > .menu_btn_p .ellipsis_p {
  width: 60%;
}
.menu_btn a:active > .ellipsis_h3 {
  width: 60%;
}
.menu_btn:hover {
  box-shadow: 0 8px 16px 0 rgba(41, 41, 41, 0.2);
}

.btn-center {
  display: flex;
  justify-content: center;
  margin-bottom: -35px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  background-color: rgb(244, 244, 244);
  animation: bg 2.4s;
}

.loader-ring {
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 17px solid #fff;
  border-radius: 50%;
  border-bottom-color: transparent;
  opacity: 0;
  animation: lds-ring 1.3s cubic-bezier(0.5, 0, 0.5, 1);
  animation-iteration-count: 2;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes bg {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
.heart_regular {
  position: absolute;
  top: 80%;
  right: 5%;
  font-size: 22px;
  color: grey;
  z-index: 1;
  background-color: white;
}
.heart_solid {
  position: absolute;
  top: 80%;
  right: 5%;
  font-size: 22px;
  transform-origin: 0% bottom;
  color: #9356DC;
  transform: scaley(0);
  transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1);
}

.heart:active > .heart_regular {
  z-index: -1;
}

.heart_regular:active + .heart_solid {
  transform: scaley(1);
}

.menu_btn {
  animation: apper 500ms both ease-in-out;
  transform-origin: 50% 0;
}

.menu_btn--1 {
  animation-delay: 200ms;
}

.menu_btn--2 {
  animation-delay: 400ms;
}

.menu_btn--3 {
  animation-delay: 600ms;
}

.menu_btn--4 {
  animation-delay: 800ms;
}

.menu_btn--5 {
  animation-delay: 1000ms;
}

.menu_btn--6 {
  animation-delay: 1200ms;
}

.menu_btn--7 {
  animation-delay: 1400ms;
}

.menu_btn--8 {
  animation-delay: 1600ms;
}

.menu_btn--9 {
  animation-delay: 1800ms;
}

.menu_btn--10 {
  animation-delay: 2000ms;
}

@keyframes apper {
  0% {
    transform: scaley(0);
    opacity: 0;
  }
  100% {
    transform: scaley(1);
    opacity: 1;
  }
}
.menu-card {
  width: 100%;
  position: relative;
  top: -35px;
  background: white;
  border-radius: 2rem 2rem 0 0;
}
.menu-card_title {
  padding-top: 1px;
}
.menu-card_title h1 {
  font-family: "shrikhandregular";
  font-size: 22px;
  font-weight: 100;
  margin: 20px;
  display: block;
}
.menu-card_title .heart {
  position: absolute;
  top: 25px;
  right: 10%;
}
.menu-card .menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.menu-card .menu .border-mint {
  width: 35px;
  height: 22px;
  border-bottom: 3px solid #99E2D0;
  margin-left: 20px;
  margin-bottom: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgb(51, 51, 51);
  width: 100%;
  color: white;
}
footer P {
  font-family: "shrikhandregular";
  font-size: 18px;
  margin-left: 40px;
}
footer ul {
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 25px 0;
  font-size: 14px;
}
footer ul li {
  margin-bottom: 4px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer ul a i {
  margin-right: 8px;
  font-size: 12px;
}

@media only screen and (max-width: 599.98px) {
  body {
    width: 100%;
  }
  h1, h2 {
    font-size: 18px;
  }
  p, h3 {
    font-size: 15px;
  }
  .head {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .head_logo {
    width: 45%;
  }
  /*section title*/
  .search {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(207, 207, 207);
  }
  .search i {
    font-size: 15px;
  }
  .search .form_search {
    font-size: 15px;
    border: 0px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    width: 84%;
  }
  .title {
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  .title_content h1 {
    margin: 0;
  }
  .title_content p {
    margin: 0;
    color: grey;
  }
  .title_content #h1-space {
    margin-bottom: 13px;
  }
  /*section fonctionnement*/
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
  }
  .fonctionnement h2 {
    margin-left: -50%;
    margin-top: 35px;
    margin-bottom: 0px;
  }
  /*section restaurants*/
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    background-color: rgb(244, 244, 244);
  }
  .restaurants h2 {
    margin-left: -60%;
    margin-top: 35px;
    margin-bottom: 23px;
  }
  .card-res {
    width: 90%;
    height: 230px;
    margin-bottom: 5%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.2);
  }
  .card-res_img {
    width: 100%;
    height: 170px;
    object-fit: cover;
  }
  .card-res:hover {
    box-shadow: 0 8px 16px 0 rgba(41, 41, 41, 0.2);
  }
  .card-res a {
    text-decoration: none;
    color: black;
  }
  .card-res .nouveau {
    text-align: center;
    position: absolute;
    top: 4%;
    left: 79%;
    width: 53px;
    height: 15px;
    background-color: #99E2D0;
    position: absolute;
    padding-top: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #278870;
  }
  .card-res h3 {
    margin: 10px;
  }
  .card-res p {
    margin-left: 10px;
    margin-top: -7px;
  }
  /*page 1-4*/
  .arrow {
    position: relative;
    top: 2%;
    left: -20%;
  }
  .arrow a {
    color: rgb(51, 51, 51);
  }
  .res {
    overflow: hidden;
    z-index: -1;
  }
  .res_img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  #p-space {
    margin-left: 15%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1023.98px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
  .head {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .head_logo {
    width: 40%;
  }
  /*section title*/
  .search {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(207, 207, 207);
  }
  .search i {
    font-size: 15px;
  }
  .search .form_search {
    font-size: 15px;
    border: 0px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    width: 84%;
  }
  .title {
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  .title_content h1 {
    margin: 0;
  }
  .title_content p {
    margin: 0;
    color: grey;
  }
  .title_content #h1-space {
    margin-bottom: 13px;
  }
  .btn-rose {
    width: 40%;
  }
  /*section fonctionnement*/
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
  }
  .fonctionnement h2 {
    margin-left: -70%;
    margin-top: 35px;
    margin-bottom: 0px;
  }
  .fonctionnement .icons-number {
    left: -1%;
  }
  /*section restaurants*/
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    background-color: rgb(244, 244, 244);
  }
  .restaurants h2 {
    margin-left: -75%;
    margin-top: 35px;
    margin-bottom: 23px;
  }
  .card-res {
    width: 88%;
    height: 270px;
    margin-bottom: 5%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.2);
  }
  .card-res_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-res:hover {
    box-shadow: 0 8px 16px 0 rgba(41, 41, 41, 0.2);
  }
  .card-res a {
    text-decoration: none;
    color: black;
  }
  .card-res .nouveau {
    text-align: center;
    position: absolute;
    top: 4%;
    left: 79%;
    width: 53px;
    height: 15px;
    background-color: #99E2D0;
    position: absolute;
    padding-top: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #278870;
  }
  .card-res h3 {
    margin: 10px;
  }
  .card-res p {
    margin-left: 10px;
    margin-top: -7px;
  }
  .heart:hover > .heart_regular {
    z-index: -1;
  }
  .heart:hover > .heart_solid {
    transform: scaley(1);
  }
  /*page 1-4*/
  .arrow {
    position: relative;
    top: 2%;
    left: -25%;
  }
  .arrow a {
    color: rgb(51, 51, 51);
  }
  .res {
    overflow: hidden;
    z-index: -1;
  }
  .res_img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }
  .menu_plats {
    display: flex;
    flex-flow: row wrap;
  }
  .menu_desserts {
    display: flex;
    flex-flow: row wrap;
  }
  .menu_entrees {
    display: flex;
    flex-flow: row wrap;
  }
  .menu_btn {
    width: 46%;
    margin: 2%;
  }
  #p-space {
    margin-left: 15%;
  }
  a:hover > .menu_btn_box {
    transform: scalex(1);
    opacity: 1;
  }
  a:hover > .menu_btn_box .check {
    transform: rotate(360deg);
  }
  a:hover > .menu_btn_p .euros {
    transform: translateX(-55px);
  }
  a:hover > .menu_btn_p .ellipsis_p {
    width: 60%;
  }
  a:hover > .ellipsis_h3 {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    width: 1024px;
    margin: 0 auto;
  }
  .head {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .head_logo {
    width: 36%;
  }
  /*section title*/
  .search {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(207, 207, 207);
  }
  .search i {
    font-size: 15px;
  }
  .search .form_search {
    font-size: 15px;
    border: 0px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    width: 84%;
  }
  .title {
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  .title_content h1 {
    margin: 0;
  }
  .title_content p {
    margin: 0;
    color: grey;
  }
  .title_content #h1-space {
    margin-bottom: 13px;
  }
  .btn-rose {
    width: 32%;
  }
  /*section fonctionnement*/
  .fonctionnement {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 4%;
  }
  .fonctionnement h2 {
    width: 100%;
    margin-left: 3%;
    margin-top: 35px;
    margin-bottom: 0px;
  }
  .fonctionnement .btn-fonction {
    width: 29%;
    margin: 2%;
  }
  .icon-number {
    left: -1%;
  }
  /*section restaurants*/
  .restaurants {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(244, 244, 244);
    padding-bottom: 5%;
  }
  .restaurants h2 {
    width: 100%;
    margin-left: 3%;
    margin-top: 35px;
    margin-bottom: 23px;
  }
  .card-res {
    width: 44%;
    margin: 2%;
    height: 265px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.2);
  }
  .card-res_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-res:hover {
    box-shadow: 0 8px 16px 0 rgba(41, 41, 41, 0.2);
  }
  .card-res a {
    text-decoration: none;
    color: black;
  }
  .card-res .nouveau {
    text-align: center;
    position: absolute;
    top: 4%;
    left: 79%;
    width: 53px;
    height: 15px;
    background-color: #99E2D0;
    position: absolute;
    padding-top: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #278870;
  }
  .card-res h3 {
    margin: 10px;
  }
  .card-res p {
    margin-left: 10px;
    margin-top: -7px;
  }
  .heart:hover > .heart_regular {
    z-index: -1;
  }
  .heart:hover > .heart_solid {
    transform: scaley(1);
  }
  /*page 1-4*/
  .arrow {
    position: relative;
    top: 2%;
    left: -28%;
  }
  .arrow a {
    color: rgb(51, 51, 51);
  }
  .res {
    overflow: hidden;
    z-index: -1;
  }
  .res_img {
    width: 1024px;
    height: 360px;
    object-fit: cover;
  }
  .menu_plats {
    display: flex;
    flex-flow: row wrap;
  }
  .menu_desserts {
    display: flex;
    flex-flow: row wrap;
  }
  .menu_entrees {
    display: flex;
    flex-flow: row wrap;
  }
  .menu_btn {
    width: 29%;
    margin: 2%;
  }
  #p-space {
    margin-left: 15%;
  }
  a:hover > .menu_btn_box {
    transform: scalex(1);
    opacity: 1;
  }
  a:hover > .menu_btn_box .check {
    transform: rotate(360deg);
  }
  a:hover > .menu_btn_p .euros {
    transform: translateX(-55px);
  }
  a:hover > .menu_btn_p .ellipsis_p {
    width: 60%;
  }
  a:hover > .ellipsis_h3 {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
