@import "base/font.scss";
@import "utils/variables.scss";
@import "utils/mixin.scss";
@import "components/btn.scss";
@import "components/anim.scss";
@import "components/article.scss";
@import "components/footer.scss";

@media only screen and (max-width:599.98px)
{

body
  { width:100%;
 
  }
  h1,h2
  {font-size: $size-title;
  
  }
  
  p,h3{ 
  font-size: $size-txt;
  }

.head
{width:100%;
height:60px;
display: flex;
align-items: center;
justify-content: center;
   &_logo
   {
    width: 45%;
   }
}

.search
{   display: flex;
    width:100%;
    height:40px;
    background-color:$color-grey;
    align-items: center;
    justify-content: center;
    border-top:  2px solid rgb(207, 207, 207);
    i
    {
        font-size: $size-txt;
    }
    .form_search
{   font-size: $size-txt;
    border:0px;
    background-color: $color-grey;
    text-align: center;
    width: 84%;
}
}

.title{
    background-color: $color-greyclair;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
  &_content
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    h1
    {
    margin: 0;
    }

    p{
        margin: 0;
        color:grey;  
    }

    #h1-space
    {
        margin-bottom: 13px;
    }
}}

.fonctionnement 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
      h2{
        margin-left: -50%;
        margin-top: 35px;
        margin-bottom: 0px;
      }
}

 .restaurants
    {  
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:10%;
        background-color: $color-greyclair;
          h2{
            margin-left: -60%;
            margin-top: 35px;
            margin-bottom: 23px;
          }
    }

    .card-res{
      width:90%;
      height:230px;
      margin-bottom: 5%;
      border-radius: $border-rad-s;
      overflow: hidden;
      background-color: white;
      position: relative;
      &_img{
        width:100%;
        height: 170px;
        object-fit: cover;
         }
      
      a{
          text-decoration: none;
          color:black;

      }
      .nouveau
      {   text-align: center;
          position: absolute;
          top: 4%;
          left: 79%;
          width: 53px;
          height: 15px;
          background-color:$color-mint;
          position: absolute;
          padding-top: 5px;
          font-size: 10px;
          font-weight: 600;
          color:darken($color-mint, 40%);
        }
        h3{
          margin: 10px;
        }
        p{
          margin-left: 10px;
          margin-top: -7px;
        }
      }
  
 
/*page 1-4*/
    .arrow{     
      position: relative;
      top: 2%;
      left: -20%;
     a{
        color:$color-footer;
      }
    }
    
    .res{
        overflow: hidden;
        z-index:-1;
     &_img{
       width:100%;
       height:230px;
       object-fit: cover;
           }
        }
    #p-space{
      margin-left:15%;
    }
}

    
@media screen and (min-width:600px)    
{
  body{
    width:600px;
    margin:0 auto;
     }
  
.head
     {width:600px;
     height:60px;
     display: flex;
     align-items: center;
     justify-content: center;
        &_logo
        {
         width: 45%;
        }
     }  
   
     .search
     {   display: flex;
         width:600px;
         height:70px;
         background-color:$color-grey;
         align-items: center;
         justify-content: center;
         border-top:  2px solid rgb(207, 207, 207);
         i
         {
             font-size: $size-txt;
         }
         .form_search
     {   font-size: $size-txt;
         border:0px;
         background-color: $color-grey;
         text-align: center;
         width: 84%;
     }
     }

     .title{
      background-color: $color-greyclair;
      display: flex;
      flex-direction: column;
      align-items: center;
         &_content
          {   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
           h1{margin: 0;}
            p{margin: 0;
             color:grey;}
       #h1-space{margin-bottom: 13px;}
            }
           }
      
.fonctionnement 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15%;
      h2{
        margin-left: -50%;
        margin-top: 35px;
        margin-bottom: 0px;
        }
    }


    .restaurants
    {  
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:10%;
        background-color: $color-greyclair;
          h2{
            margin-left: -60%;
            margin-top: 35px;
            margin-bottom: 23px;
          }
    }

    .card-res{
      width:540px;
      height:230px;
      margin-bottom: 5%;
      border-radius: $border-rad-s;
      overflow: hidden;
      background-color: white;
      position: relative;
      box-shadow:$box-shadow_s;
      &_img{
        width:100%;
        height: 170px;
        object-fit: cover;
         }
      
      a{
          text-decoration: none;
          color:black;
      }
      a:hover{
        box-shadow: $box-shadow_m;
      }
      .nouveau
      {   text-align: center;
          position: absolute;
          top: 4%;
          left: 79%;
          width: 53px;
          height: 15px;
          background-color:$color-mint;
          position: absolute;
          padding-top: 5px;
          font-size: 10px;
          font-weight: 600;
          color:darken($color-mint, 40%);
        }
        h3{
          margin: 10px;
        }
        p{
          margin-left: 10px;
          margin-top: -7px;
        }
      }

      .heart
      {
       &:hover > &_regular{
          opacity:0;
          z-index:-1; 
      }

       &:hover > &_solid{
        transform:scaley(1);
    }}

/*page 1-4*/  
      .arrow{     
        position: relative;
        top: 2%;
        left: -20%;
         a{
            color:$color-footer;
          }
        }
        
        .res{
            overflow: hidden;
            z-index:-1;
         &_img{
           width:600px;
           height:230px;
           object-fit: cover;
               }
            }
            
  #p-space{
          margin-left:15%;
        }

  a:hover >.menu_btn_box
        {
          transform:scalex(1);
          opacity: 1;
           .check{
                 transform:rotate(360deg);
                }
        }
  a:hover >.menu_btn_p 
        {
         .euros{
         transform:translateX(-55px);}
         .ellipsis_p{
         
         width:60%;
         }
        }
        
  a:hover >.ellipsis_h3
        {
         width:60%;
        }
}
  
    

  






     
 








