@import "base/font.scss";
@import "utils/variables.scss";
@import "utils/mixin.scss";
@import "components/btn.scss";
@import "components/anim.scss";
@import "components/article.scss";
@import "components/footer.scss";

::-webkit-scrollbar{
  display:none;
}

@media only screen and (max-width:599.98px)
{

body
  { width:100%;
 
  }
  
  h1,h2
  {font-size: $size-title;
  
  }
  
  p,h3{ 
  font-size: $size-txt;
  }

.head
{width:100%;
height:60px;
display: flex;
align-items: center;
justify-content: center;
   &_logo
   {
    width: 45%;
   }
}

/*section title*/
.search
{   display: flex;
    width:100%;
    height:40px;
    background-color:$color-grey;
    align-items: center;
    justify-content: center;
    border-top:  2px solid rgb(207, 207, 207);
    
       i     {
        font-size: $size-txt;
             }
    .form_search{
   font-size: $size-txt;
    border:0px;
    background-color: $color-grey;
    text-align: center;
    width: 84%;
              }
}

.title{
    background-color: $color-greyclair;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
  &_content
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    h1
    {
    margin: 0;
    }

    p{
        margin: 0;
        color:grey;  
    }

    #h1-space
    {
        margin-bottom: 13px;
    }
}}

/*section fonctionnement*/
.fonctionnement 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
      h2{
        margin-left: -50%;
        margin-top: 35px;
        margin-bottom: 0px;
      }
}
/*section restaurants*/
 .restaurants
    {  
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:10%;
        background-color: $color-greyclair;
          h2{
            margin-left: -60%;
            margin-top: 35px;
            margin-bottom: 23px;
          }
    }

    .card-res{
      width:90%;
      height:230px;
      margin-bottom: 5%;
      border-radius: $border-rad-s;
      overflow: hidden;
      background-color: white;
      position: relative;
      box-shadow: $box-shadow_s;
      &_img{
        width:100%;
        height: 170px;
        object-fit: cover;
         }
      &:hover{
          box-shadow: $box-shadow_m;
             }
      a{
          text-decoration: none;
          color:black;

      }
      .nouveau
      {   text-align: center;
          position: absolute;
          top: 4%;
          left: 79%;
          width: 53px;
          height: 15px;
          background-color:$color-mint;
          position: absolute;
          padding-top: 5px;
          font-size: 10px;
          font-weight: 600;
          color:darken($color-mint, 40%);
        }
        h3{
          margin: 10px;
        }
        p{
          margin-left: 10px;
          margin-top: -7px;
        }
      }
  
 
/*page 1-4*/
    .arrow{     
      position: relative;
      top: 2%;
      left: -20%;
     a{
        color:$color-footer;
      }
    }
    
    .res{
        overflow: hidden;
        z-index:-1;
     &_img{
       width:100%;
       height:230px;
       object-fit: cover;
           }
        }
    #p-space{
      margin-left:15%;
    }
}

    
@media only screen and (min-width:600px) and (max-width:1023.98px)    
{
  body{
    width:100%;
    margin:0 auto;
     }
  h1,h2
     {font-size: $size-title;
     
     }
     
  p,h3{ 
     font-size: $size-txt;
     }

  footer{
    p{
      margin-left: 50px;
    }
    ul{
      margin-left: 9px;
    }
        }
   
.head
     {
     height:110px;
     display: flex;
     align-items: center;
     justify-content: center;
        &_logo
        {
         width: 40%;
        }
     }  
/*section title*/ 
     .search
     {   display: flex;
         width:100%;
         height:70px;
         background-color:$color-grey;
         align-items: center;
         justify-content: center;
         border-top:  2px solid rgb(207, 207, 207);
         i
         {
             font-size: $size-txt;
         }
         .form_search
     {   font-size: $size-txt;
         border:0px;
         background-color: $color-grey;
         text-align: center;
         width: 84%;
     }
     }

     .title{
      background-color: $color-greyclair;
      display: flex;
      flex-direction: column;
      align-items: center;
         &_content
          {   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
           h1{margin: 0;}
            p{margin: 0;
             color:grey;}
       #h1-space{margin-bottom: 13px;}
            }
           }
    .btn-rose{
      width:40%;
           }
/*section fonctionnement*/     
.fonctionnement 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15%;
      h2{
        margin-left: -70%;
        margin-top: 35px;
        margin-bottom: 0px;
        }
        .icons-number
        {
        left:-1%;}
      }
    

/*section restaurants*/
    .restaurants
    {  
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:10%;
        background-color: $color-greyclair;
          h2{
            margin-left: -75%;
            margin-top: 35px;
            margin-bottom: 23px;
          }
    }

    .card-res{
      width:88%;
      height:270px;
      margin-bottom: 5%;
      border-radius: $border-rad-s;
      overflow: hidden;
      background-color: white;
      position: relative;
      box-shadow: $box-shadow_s;
      &_img{
        width:100%;
        height: 200px;
        object-fit: cover;
         }
     &:hover{
          box-shadow: $box-shadow_m;
        }
      
      a{
          text-decoration: none;
          color:black;

      }
      .nouveau
      {   text-align: center;
          position: absolute;
          top: 4%;
          left: 79%;
          width: 53px;
          height: 15px;
          background-color:$color-mint;
          position: absolute;
          padding-top: 5px;
          font-size: 10px;
          font-weight: 600;
          color:darken($color-mint, 40%);
        }
        h3{
          margin: 10px;
        }
        p{
          margin-left: 10px;
          margin-top: -7px;
        }
      }

      .heart:hover > .heart_regular{ 
        z-index:-1; }
                   

       .heart:hover > .heart_solid {
        transform:scaley(1);
                        }

/*page 1-4*/  
      .arrow{     
        position: relative;
        top: 2%;
        left: -25%;
         a{
            color:$color-footer;
          }
        }
        
        .res{
            overflow: hidden;
            z-index:-1;
         &_img{
           width:100%;
           height:320px;
           object-fit: cover;
               }
            }
        .menu{
              &_plats{
         @include wrap
                     }
            
             &_desserts{
         @include wrap
                   }  
             &_entrees{
         @include wrap
                   }  
            } 
       .menu_btn{
        width:46%;
        margin:2%;
       }
            
  #p-space{
          margin-left:15%;
        }

  a:hover >.menu_btn_box
        {
          transform:scalex(1);
          opacity: 1;
           .check{
                 transform:rotate(360deg);
                }
        }
  a:hover >.menu_btn_p 
        {
         .euros{
         transform:translateX(-55px);}
         .ellipsis_p{
         
         width:60%;
         }
        }
        
  a:hover >.ellipsis_h3
        {
         width:60%;
        }
}
  
@media only screen and (min-width:1024px)    
{
  body{
    width:1024px;
    margin:0 auto;
     }
  h1,h2
     {font-size: $size-title;
     
     }
     
  p,h3{ 
     font-size: $size-txt;
     }

  footer{
      p{
        margin-left: 35px;
      }
      ul{
        margin-left:-5px
      }
          }
     
   
.head
     {
     width:100%;
     height:150px;
     display: flex;
     align-items: center;
     justify-content: center;
        &_logo
        {
         width: 36%;
        }
     }  
/*section title*/ 
     .search
     {   display: flex;
         width:100%;
         height:70px;
         background-color:$color-grey;
         align-items: center;
         justify-content: center;
         border-top:  2px solid rgb(207, 207, 207);
         i
         {
             font-size: $size-txt;
         }
         .form_search
     {   font-size: $size-txt;
         border:0px;
         background-color: $color-grey;
         text-align: center;
         width: 84%;
     }
     }

     .title{
      background-color: $color-greyclair;
      display: flex;
      flex-direction: column;
      align-items: center;
         &_content
          {   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
           h1{margin: 0;}
            p{margin: 0;
             color:grey;}
       #h1-space{margin-bottom: 13px;}
            }
           }
.btn-rose{
            width:32%;
          }
/*section fonctionnement*/     
.fonctionnement 
    {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 4%;
      h2{
        width:100%;
        margin-left: 3%;
        margin-top: 35px;
        margin-bottom: 0px;
        }
      .btn-fonction{
        width:29%;
        margin:2%;
      }
    }
.icon-number
    {left:-1%;}

/*section restaurants*/
    .restaurants
    {  
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        background-color: $color-greyclair;
        padding-bottom: 5%;
          h2{
            width:100%;
            margin-left: 3%;
            margin-top: 35px;
            margin-bottom: 23px;
          }
    }

    .card-res{
      width:44%;
      margin:2%;
      height:265px;
      
      border-radius: $border-rad-s;
      overflow: hidden;
      background-color: white;
      position: relative;
      box-shadow: $box-shadow_s;
      &_img{
        width:100%;
        height: 200px;
        object-fit: cover;
         }
     &:hover{
          box-shadow: $box-shadow_m;
        }
      
      a{
          text-decoration: none;
          color:black;

      }
      .nouveau
      {   text-align: center;
          position: absolute;
          top: 4%;
          left: 79%;
          width: 53px;
          height: 15px;
          background-color:$color-mint;
          position: absolute;
          padding-top: 5px;
          font-size: 10px;
          font-weight: 600;
          color:darken($color-mint, 40%);
        }
        h3{
          margin: 10px;
        }
        p{
          margin-left: 10px;
          margin-top: -7px;
        }
      }

      .heart:hover > .heart_regular{ 
        z-index:-1; }
                   

       .heart:hover > .heart_solid {
        transform:scaley(1);
                        }
      

/*page 1-4*/  
      .arrow{     
        position: relative;
        top: 2%;
        left: -28%;
         a{
            color:$color-footer;
          }
        }
        
  .res{
            overflow: hidden;
            z-index:-1;
    &_img{
           width:1024px;
           height:360px;
           object-fit: cover;
          }
        }

  .menu{
         &_plats{
    @include wrap
                }
       
        &_desserts{
    @include wrap
              }  
        &_entrees{
    @include wrap
              }  
       } 
  .menu_btn{
   width:29%;
   margin:2%;
  }
  #p-space{
          margin-left:15%;
        }

  a:hover >.menu_btn_box
        {
          transform:scalex(1);
          opacity: 1;
           .check{
                 transform:rotate(360deg);
                }
        }
  a:hover >.menu_btn_p 
        {
         .euros{
         transform:translateX(-55px);}
         .ellipsis_p{
         
         width:60%;
         }
        }
        
  a:hover >.ellipsis_h3
        {
         width:60%;
        }

}

  






     
 








