
@font-face {
    font-family: 'shrikhandregular';
    src: url('../font/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../font/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

body{
     font-family: 'robotoregular';
}
