
    
@mixin btn($width,$height,$color:black,$bg:$color-primary,$border-rad)
{
width:$width;
height:$height;
background-color: $bg;
color:$color;
border:0;
box-shadow:$box-shadow_s;
transition: 0.3s ease-in-out;
font-size:$size-txt-btn;
border-radius: $border-rad;
cursor:pointer;
}

@mixin heart{
    position: absolute;
    top:80%;
    right:5%;
    font-size: 22px;}


@mixin wrap{
    display: flex;
    flex-flow:row wrap;
}